
# Exclude log and interface folders

src/.metadata
src/SDK.log
src/RemoteSystemsTempFiles
src/webtalk
Debug/


# Exclude build products

*.a
*.dll
*.dylib
*.exe
*.o
*.obj
*.so
download.bit

# Exclude Vivado hardware project

HW_dual_uB/
